@use './mixins.scss';

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 78px - 78px);
  @include mixins.response(991px) {
    min-height: 100%;
  }
}

.main-section {
  @include mixins.response(991px) {
    margin-bottom: 52px;
  }
  &__inner {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-items: stretch;
    @include mixins.response(991px) {
      flex-direction: column;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
    width: 100%;
    margin-right: 16px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 66px;
    .main-button {
      margin-top: 36px;
      @include mixins.response(991px) {
        margin-top: 20px;
      }
    }
    @include mixins.response(1200px) {
      padding: 20px 30px;
    }
    @include mixins.response(991px) {
      padding: 50px 20px;
      margin: 0 0 10px;
      border-radius: 20px;
      max-width: 100%;
    }
  }
  &__right {
    max-width: 706px;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    img {
      width: 100%;
    }
    @include mixins.response(991px) {
      max-width: 100%;
      border-radius: 20px;
    }
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 16px;
    @include mixins.response(991px) {
      font-size: 40px;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: var(--black);
    @include mixins.response(991px) {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  }
}

// TODO: ANIMATION
.main-section__right {
  height: 680px;
  @include mixins.response(991px) {
    height: 375px;
  }
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  animation: infinite-scroll 45s linear infinite;
  will-change: transform;
}

.scrolling-img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes infinite-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

// .main-section__right:hover .scroll-wrapper {
//   animation-play-state: paused;
// }
