@use './mixins.scss';
// @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Book Antiqua';
  src: url('../../assets/fonts/BookAntiquaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #141414;
  background-color: #eee9e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #fff;
	--black: #141414;
	--blue: #5aaaff;
	--green: #6cf2b3;
	--green-hover: #22fb96;
	--background: #eee9e3;
	--korichnevyy: #4c4b4a;
	--korichnevyy-svetlyy: #726c69;
	--line-check-box: #e1ddd7;
	--input-select: #c1e9f9;
	--progress-bar: #a9cbc5;
	--podlozhka: #f7f4f1;
	--svetlo-seryy: #edebe9;
	--red: #f44;

  --font-family: "Manrope", sans-serif;
  --second-family: "Book Antiqua", sans-serif;
  // --second-family: 'Crimson Text', serif;
  // --font7: "AGBengalyC", sans-serif;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

// ANTD

.page-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-form-item {
  margin-bottom: 20px !important;
}

.ant-form-item-row {
  display: block;
}

.ant-form-item-label {
  text-align: left !important;
  label {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: var(--korichnevyy) !important;
    height: auto !important;
    margin-bottom: 5px;
    &::before,
    &::after {
      display: none !important;
    }
  }
}

.ant-input {
  width: 100% !important;
  border-radius: 10px;
  padding: 14px 18px;
  height: 50px;
  font-weight: 500 !important;
  font-size: 16px !important;
  border: none !important;
  &:focus {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  }
  &:active {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  }
  &::placeholder {
    color: var(--korichnevyy) !important;
  }
}

.ant-input-password {
  border: none !important;
  border-radius: 10px !important;
  height: 50px;
  &:focus {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05) !important;
  }
  &:active {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05) !important;
  }
  .ant-input {
    height: auto;
  }
  .ant-input-password-icon {
    font-size: 16px !important;
    svg {
      fill: #4C4B4A;
    }
  }
  &:where(.css-dev-only-do-not-override-1yacf91).ant-input-outlined:focus,
  &:where(.css-dev-only-do-not-override-1yacf91).ant-input-outlined:focus-within {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05) !important;
  }
}

.submit-button {
  width: 100%;
  border-radius: 1000px;
  padding: 14px 24px;
  height: 50px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  background: #7092b5;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
  border: none;
  transition: .3s ease-in-out;
  @include mixins.hover() {
    background: var(--blue) !important;
  }
}

.main-button {
  margin-top: 36px;
  border-radius: 60px;
  padding: 0 10px 0 28px;
  width: 330px;
  height: 64px;
  background: #006654;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  transition: .3s ease-in-out;
  span {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #338576;
    border-radius: 50%;
    margin-left: auto;
    flex-shrink: 0;
    transition: .3s ease-in-out;
    svg {
      fill: #fff;
      transition: .3s ease-in-out;
    }
  }
  &:hover {
    color: #fff;
    background: #023E20;
    span {
      background: #fff;
      svg {
        fill: #023E20;
        transform: rotate(-45deg);
      }
    }
  }
  &:focus,
  &:active {
    outline: none;
  }
  @include mixins.response(991px) {
    width: 240px;
    height: 48px;
    font-size: 16px;
    margin-top: 20px;
    padding: 0 10px 0 22px;
    span {
      width: 36px;
      height: 36px;
    }
  }
}